body{
    background-image: url("https://images.unsplash.com/photo-1413882353314-73389f63b6fd?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb");
    background-size: cover;
    background-attachment: fixed;    
}

.button{
    font-size: 25;
    background-color: greenyellow;
}
.content{
   
	
	width: 65%;
	position: absolute;
	
	margin: 25px;
}
.content2{
	width: 65%;
	position: absolute;
	margin: auto;

}
.input,.output{
	background-color: rgba(255, 255, 255, 0.808);
    width: 75%;
	font-family: monospace;
	
    border:5px double ;
	margin: auto;
	
	
}


.input{
	height: 83vh;

}
.output{
	height: 90vh;
}
.box{
    background: #010707 ;
    color: #fff;
    padding: 5px;
    height: 30 5px;
    border: none;
    font-size: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    -webkit-appearance: button;
	outline: none;
	border-radius:10px ;
}

.container{
	position: relative;	
	
}
#calculator{
	width: 240px;
	height: 480px;
	background-color: #eaedef;
	margin-top: 120px;
	top: 100px;
	position: fixed;
	right: 350px;
	
	
	
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 18px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}

.calculate {
	position: relative;
	left: 30px;
	padding: 5px 20px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: rgb(4, 3, 8);
	border: 2px double black;
	border-radius: 15px;
	box-shadow: 0 5px #999;
  }
  
  .calculate:hover {background-color: #181717}
  
  .calculate:active {
	background-color: #272b4d;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }
input{
	  margin-left: 20px;
	  background-color : rgba(163, 162, 162, 0.37);
	  border: 4px double black;
	  border-radius:4px;
	  transition: width 0.6s ease-in-out;  
	  width:150px;
	  height: 25px;
	  
	}
	input:focus {
		width: 300px;
	  }